<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import {
  NextStep,
  CopyForm,
  Accordion,
} from '../../../components/common/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    NextStep,
    Accordion,
    CopyForm,
  },
  async asyncData({ $content, error }: any) {
    try {
      const doc = await $content('solutions/startups').fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      submitted: false,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  methods: {
    onSubmit() {
      (this as any).submitted = true;
    },
  },
});
</script>

<template>
  <SlpContainer class="startups">
    <CopyForm :data="doc.mrkto_form" @submit="onSubmit" />
    <SlpRow class="faq">
      <SlpColumn :cols="12" size="xxl">
        <h2 class="header">Frequently Asked Questions</h2>
        <div class="accordion-container slp-mb-48">
          <Accordion
            v-for="question in doc.frequently_asked_questions.data"
            :key="question.item.question"
          >
            <template #title>
              <h3>{{ question.item.question }}</h3>
            </template>
            <template #content>
              <div v-html="$md.render(question.item.answer)"></div>
            </template>
          </Accordion>
        </div>
      </SlpColumn>
    </SlpRow>
    <NextStep />
  </SlpContainer>
</template>

<style lang="scss">
.startups {
  .content {
    h3:first-of-type {
      margin-bottom: $spacing-48;
    }

    h3 {
      line-height: 28px;
    }

    ul {
      margin-top: $spacing-32;
      margin-bottom: $spacing-48;
    }

    p {
      font-size: 16px !important; // overrides form component styles
      line-height: 24px;
      margin-top: $spacing-4;
    }
  }

  .mktoForm .mktoGutter {
    float: none;
  }

  .mktoForm .mktoRadioList > label {
    margin-left: $spacing-8;
    margin-right: $spacing-16;
  }

  .faq .header {
    text-align: center;
    margin-bottom: $spacing-32;
  }

  .faq .slp-col-xxl-12 {
    width: 100%;
  }
}
</style>
