<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'CaseStudyCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpRow class="case-study-card">
    <SlpColumn :cols="4" class="case-study-card__content">
      <SlpTypography tag="h3" variant="heading5-bold" class="slp-mb-24">
        {{ data.title }}
      </SlpTypography>
      <SlpTypography tag="h4" variant="heading5">
        {{ data.subtitle }}
      </SlpTypography>
    </SlpColumn>
    <SlpColumn :cols="6" class="second-col">
      <a
        class="link-card"
        :href="data.button.href"
        :data-ga-name="data.button.data_ga_name"
        :data-ga-location="data.button.data_ga_location"
      >
        <img
          :src="data.image.url"
          :alt="data.image.alt ? data.image.alt : ''"
        />
        <div class="case-study-card__link">
          <SlpTypography tag="span" variant="body2-bold">
            {{ data.button.text }}
          </SlpTypography>
          <SlpIcon
            class="slp-ml-8 slp-mb-4"
            name="chevron-lg-right"
            variant="product"
            alt="Chevron Right Icon"
          />
        </div>
      </a>
    </SlpColumn>
  </SlpRow>
</template>

<style lang="scss" scoped>
.case-study-card {
  flex-direction: row;
  justify-content: space-between;

  .second-col {
    height: 263px;
    padding: $spacing-24 0;
    position: relative;
    z-index: 2;

    @media (max-width: $breakpoint-sm) {
      height: 285px;
      width: 100%;
      padding: $spacing-24 0 0 0;
    }

    &::after {
      content: '';
      height: 100%;
      left: $spacing-32;
      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: none;
      transition: background-color 0.3s ease-in-out;
      z-index: 0;
    }

    img {
      border-radius: $spacing-4;
      transition: border-bottom-right-radius 0.3s ease-in-out;
      z-index: 1;
    }

    &:hover {
      &::after {
        background-color: $color-surface-900;
      }

      img {
        border-bottom-right-radius: 100px;
      }
    }
  }

  .link-card {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      height: auto;
    }

    img {
      width: 196px;
      height: 215px;
      min-width: 196px;
      min-height: 215px;
      object-fit: cover;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $color-text-300;
    padding: 0 0 0 $spacing-48;
    z-index: 1;

    @media (max-width: $breakpoint-sm) {
      padding-left: 0;
      margin: $spacing-24 0 0 0;
    }
  }
}
</style>
